#about {
  display: flex;
  color: black;
  min-height: 100vh;
  margin: 10rem;
}

#about > div {
  flex: 1;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.content-header {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.content-desc {
  font-size: 2rem;
}

.content-button {
  margin-top: 4rem;
}

.about-image {
  height: 85rem;
}

.animation-hide {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: 2s;
}

.animation-show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (max-width: 1000px) {
  #about {
    display: flex;
    flex-direction: column;
  }
}
