#new-homes {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: black;
  margin: 10rem;
}

.new-homes-header {
  font-size: 4rem;
  font-weight: 500;
}

.new-homes-content {
  display: flex;
  flex: 1;
  gap: 8rem;
}

.new-homes-content > div {
  flex: 1;
}

.left-card {
  margin-top: 4rem;
}

.right-card {
  margin-top: 12rem;
}

.hide {
  opacity: 0;
  transition: 2s;
}

.show {
  opacity: 1;
}

@media (max-width: 1000px) {
  .new-homes-content {
    display: flex;
    flex-direction: column;
  }
}
