button {
  padding: 2rem 3rem;
  color: white;
  background-color: rgb(4, 4, 37);
  border-color: transparent;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
}

button:hover {
  cursor: pointer;
  background-color: orange;
}

.iconx {
  margin-left: 1rem;
}
