#main-container {
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  font-size: 2.3rem;
  color: white;
  position: fixed;
  z-index: 99;
  transition: 1s;
}

#main-container span {
  margin-left: 10rem;
}

.navbar {
  display: flex;
  gap: 3rem;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.main-button-container {
  margin-right: 10rem;
}
