section {
  background-size: cover;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
}

section img {
  background-size: cover;
  height: 100%;
  width: 100%;
}

.home-container {
  display: flex;
  flex-direction: column;
  margin-left: 8rem;
}

.home-name {
  font-size: 4rem;
  letter-spacing: 0.4rem;
}

.home-price {
  font-size: 2rem;
}

.home-buttons {
  position: fixed;
  right: 15rem;
  bottom: 2rem;
  display: flex;
  gap: 2rem;
}

.home-buttons button {
  color: white;
  background-color: rgb(4, 4, 37);
  border-color: transparent;
  padding: 2rem;
  border-radius: 50%;
  font-size: 2.5rem;
}

.home-buttons button:hover {
  cursor: pointer;
  background-color: orange;
}

.custom-button-container {
  margin-top: 2rem;
}
